In [15]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import statsmodels.api as sm
import datetime
from statsmodels.tsa.stattools import adfuller as adf
from statsmodels.graphics.gofplots import qqplot
from pandas.plotting import register_matplotlib_converters
from pandas.plotting import autocorrelation_plot
from pandas_datareader import data
from scipy import stats

In [25]:
start = datetime.datetime(2017,1,1)#获取数据的时间段-起始时间
end = datetime.date.today()#获取数据的时间段-结束时间
df = data.get_data_yahoo('BTC-USD', start=start, end=end)

In [26]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-12-31,963.742981,947.236023,960.627014,963.742981,99135104,963.742981
2017-01-01,1003.080017,958.698975,963.658020,998.325012,147775008,998.325012
2017-01-02,1031.390015,996.702026,998.617004,1021.750000,222184992,1021.750000
2017-01-03,1044.079956,1021.599976,1021.599976,1043.839966,185168000,1043.839966
2017-01-04,1159.420044,1044.400024,1044.400024,1154.729980,344945984,1154.729980
...,...,...,...,...,...,...
2022-07-22,23671.927734,22603.416016,23163.751953,22714.978516,31421555646,22714.978516
2022-07-23,22977.210938,22002.910156,22706.984375,22465.478516,24021799169,22465.478516
2022-07-24,22974.001953,22306.839844,22465.509766,22609.164062,23565495303,22609.164062
2022-07-25,22649.121094,21361.642578,22607.156250,21361.701172,35574561406,21361.701172
2022-07-26,21315.908203,21024.212891,21315.908203,21081.531250,35848650752,21081.531250

In [27]:
df['log_ret'] = np.log(df['Close']/df['Close'].shift())
df

,High,Low,Open,Close,Volume,Adj Close,log_ret
Date,,,,,,,
2016-12-31,963.742981,947.236023,960.627014,963.742981,99135104,963.742981,NaN
2017-01-01,1003.080017,958.698975,963.658020,998.325012,147775008,998.325012,0.035254
2017-01-02,1031.390015,996.702026,998.617004,1021.750000,222184992,1021.750000,0.023193
2017-01-03,1044.079956,1021.599976,1021.599976,1043.839966,185168000,1043.839966,0.021389
2017-01-04,1159.420044,1044.400024,1044.400024,1154.729980,344945984,1154.729980,0.100960
...,...,...,...,...,...,...,...
2022-07-22,23671.927734,22603.416016,23163.751953,22714.978516,31421555646,22714.978516,-0.019602
2022-07-23,22977.210938,22002.910156,22706.984375,22465.478516,24021799169,22465.478516,-0.011045
2022-07-24,22974.001953,22306.839844,22465.509766,22609.164062,23565495303,22609.164062,0.006375
2022-07-25,22649.121094,21361.642578,22607.156250,21361.701172,35574561406,21361.701172,-0.056756
2022-07-26,21315.908203,21024.212891,21315.908203,21081.531250,35848650752,21081.531250,-0.013202

In [28]:
df["D"] = df.index.date
n_periods = df.pivot_table(index = ["D"], aggfunc = 'size').values

stats.describe(n_periods)
df

,High,Low,Open,Close,Volume,Adj Close,log_ret,D
Date,,,,,,,,
2016-12-31,963.742981,947.236023,960.627014,963.742981,99135104,963.742981,NaN,2016-12-31
2017-01-01,1003.080017,958.698975,963.658020,998.325012,147775008,998.325012,0.035254,2017-01-01
2017-01-02,1031.390015,996.702026,998.617004,1021.750000,222184992,1021.750000,0.023193,2017-01-02
2017-01-03,1044.079956,1021.599976,1021.599976,1043.839966,185168000,1043.839966,0.021389,2017-01-03
2017-01-04,1159.420044,1044.400024,1044.400024,1154.729980,344945984,1154.729980,0.100960,2017-01-04
...,...,...,...,...,...,...,...,...
2022-07-22,23671.927734,22603.416016,23163.751953,22714.978516,31421555646,22714.978516,-0.019602,2022-07-22
2022-07-23,22977.210938,22002.910156,22706.984375,22465.478516,24021799169,22465.478516,-0.011045,2022-07-23
2022-07-24,22974.001953,22306.839844,22465.509766,22609.164062,23565495303,22609.164062,0.006375,2022-07-24
2022-07-25,22649.121094,21361.642578,22607.156250,21361.701172,35574561406,21361.701172,-0.056756,2022-07-25
2022-07-26,21315.908203,21024.212891,21315.908203,21081.531250,35848650752,21081.531250,-0.013202,2022-07-26

In [23]:
df.loc[df["D"] != df["D"].shift(), "Per"]  = n_periods
df.fillna(method = 'ffill', inplace = True)

df["Ret"] = np.where(df["D"] == df["D"].shift(),
                    ( (df["Close"]-df["Close"].shift()) * 1/df["Per"] ) **2, np.nan)

In [24]:
df

,High,Low,Open,Close,Volume,Adj Close,log_ret,D,Per,Ret
Date,,,,,,,,,,
2016-12-31,963.742981,947.236023,960.627014,963.742981,99135104,963.742981,NaN,2016-12-31,1.0,NaN
2017-01-01,1003.080017,958.698975,963.658020,998.325012,147775008,998.325012,0.035254,2017-01-01,1.0,NaN
2017-01-02,1031.390015,996.702026,998.617004,1021.750000,222184992,1021.750000,0.023193,2017-01-02,1.0,NaN
2017-01-03,1044.079956,1021.599976,1021.599976,1043.839966,185168000,1043.839966,0.021389,2017-01-03,1.0,NaN
2017-01-04,1159.420044,1044.400024,1044.400024,1154.729980,344945984,1154.729980,0.100960,2017-01-04,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-07-22,23671.927734,22603.416016,23163.751953,22714.978516,31421555646,22714.978516,-0.019602,2022-07-22,1.0,NaN
2022-07-23,22977.210938,22002.910156,22706.984375,22465.478516,24021799169,22465.478516,-0.011045,2022-07-23,1.0,NaN
2022-07-24,22974.001953,22306.839844,22465.509766,22609.164062,23565495303,22609.164062,0.006375,2022-07-24,1.0,NaN
2022-07-25,22649.121094,21361.642578,22607.156250,21361.701172,35574561406,21361.701172,-0.056756,2022-07-25,1.0,NaN
2022-07-26,21315.908203,21024.212891,21315.908203,21082.554688,35858288640,21082.554688,-0.013154,2022-07-26,1.0,NaN

In [32]:
rv = df['log_ret'].rolling(5).std() * np.sqrt(365)

In [33]:
rv

Date
2016-12-31         NaN
2017-01-01         NaN
2017-01-02         NaN
2017-01-03         NaN
2017-01-04         NaN
                ...
2022-07-22    0.777982
2022-07-23    0.439100
2022-07-24    0.183936
2022-07-25    0.464839
2022-07-26    0.444632
Name: log_ret, Length: 2034, dtype: float64

In [42]:
vol_vol= rv.rolling(20).std()
vol_vol

Date
2016-12-31         NaN
2017-01-01         NaN
2017-01-02         NaN
2017-01-03         NaN
2017-01-04         NaN
                ...
2022-07-22    0.157219
2022-07-23    0.137722
2022-07-24    0.164784
2022-07-25    0.165999
2022-07-26    0.163758
Name: log_ret, Length: 2034, dtype: float64

In [40]:
rv[:,'log_ret']

KeyError: 'key of type tuple not found and not a MultiIndex'